<% include partials/header %>
<h1>Search movie name here :</h1>
<form action="/result" method="GET">
    <input type="text" name="movie-name" placeholder="movie name">
    <button>Click to Search</button>
</form>
<% include partials/footer %>